name: CI Build

on: [push, pull_request]
jobs:
  build:
    strategy:
      matrix:
        builds: [library, stm32]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v31
      with:
        github_access_token: ${{ secrets.GITHUB_TOKEN }}
    - name: Build ${{ matrix.builds }}
      run: nix build .#${{ matrix.builds }} --print-build-logs
