name: CI Build

on: [push, pull_request]
jobs:
  build:
    strategy:
      matrix:
        builds: [library, hmrtool]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: cachix/install-nix-action@v31
    - name: Build ${{ matrix.builds }}
      run: nix build .#${{ matrix.builds }} --print-build-logs
